In [1]:
import pandas as pd
import json

In [2]:
with open('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [3]:
df_match.shape

(45, 7)

In [4]:
df_match.rename({'scorecard':'match_id'}, axis=1, inplace =True)
df_match

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [5]:
match_ids_dict = {}
for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']

    match_ids_dict[key1] = row["match_id"]
    match_ids_dict[key2] = row["match_id"]

match_ids_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

batting summary

In [6]:
with open('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,c Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09

In [7]:
df_batting["out/not_out"] = df_batting.dismissal.apply(lambda x: "out" if len(x) > 0 else "not_out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,c Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out

In [8]:
df_batting.drop(columns=['dismissal'], inplace = True)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [9]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))

In [10]:
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [11]:
df_batting['match_id'] = df_batting["match"].map(match_ids_dict)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out,T20I # 1823

In [12]:
df_batting.to_csv('t20_csv_files/t20_batting.csv', index = False)

In [13]:
df_match.to_csv('t20_csv_files/t20_matchSummary.csv', index = False)

In [14]:
with open('t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    all_records1 = []
    for rec in data:
        all_records1.extend(rec['bowlingSummary'])
df_bowling = pd.DataFrame(all_records1)
df_bowling.head(15)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0
11,U.A.E. Vs Netherlands,Netherlands,Fred Klaassen,4,0,13,2,3.25,18,0,0,3,0
12,U.A.E. Vs Netherlands,Netherlands,Tim Pringle,4,0,13,1,3.25,11,0,0,0,0
13,U.A.E. Vs Netherlands,Netherlands,Logan van Beek,2,0,19,0,9.50,5,0,2,1,0
14,U.A.E. Vs Netherlands,Netherlands,Bas de Leede,3,0,19,3,6.33,9,2,0,2,0

In [15]:
df_bowling['match_id'] = df_bowling["match"].map(match_ids_dict)
df_bowling.head(23)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0,T20I # 1823
11,U.A.E. Vs Netherlands,Netherlands,Fred Klaassen,4,0,13,2,3.25,18,0,0,3,0,T20I # 1825
12,U.A.E. Vs Netherlands,Netherlands,Tim Pringle,4,0,13,1,3.25,11,0,0,0,0,T20I # 1825
13,U.A.E. Vs Netherlands,Netherlands,Logan van Beek,2,0,19,0,9.50,5,0,2,1,0,T20I # 1825
14,U.A.E. Vs Netherlands,Netherlands,Bas de Leede,3,0,19,3,6.33,9,2,0,2,0,T20I # 1825
15,U.A.E. Vs Netherlands,Netherlands,Paul van Meekeren,4,0,21,0,5.25,11,1,0,0,0,T20I # 1825
16,U.A.E. Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,19,1,6.33,7,0,1,0,0,T20I # 1825
17,U.A.E. Vs Netherlands,U.A.E.,Junaid Siddique,4,0,24,3,6.00,10,2,0,1,0,T20I # 1825
18,U.A.E. Vs Netherlands,U.A.E.,Basil Hameed,1,0,7,1,7.00,4,0,1,0,0,T20I # 1825
19,U.A.E. Vs Netherlands,U.A.E.,Aayan Afzal Khan,3,0,15,1,5.00,8,1,0,0,0,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,Karthik Meiyappan,4,0,22,1,5.50,11,2,0,0,0,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,Zahoor Khan,4,0,11,1,2.75,14,0,0,0,0,T20I # 1825
22,U.A.E. Vs Netherlands,U.A.E.,Zawar Farid,2.5,0,24,0,8.47,2,2,0,0,0,T20I # 1825

In [16]:
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [17]:
df_bowling.to_csv('t20_csv_files/t20_bowling.csv', index = False)

In [18]:
with open('t20_json_files/t20_wc_player_info.json') as f:
    data = json.load(f)
df_players = pd.DataFrame(data)
df_players.head(30)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
10,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
11,Danushka Gunathilaka,Sri Lanka,Left hand Bat,Right arm Offbreak,Allrounder,"A poised, attacking left-handed opener groomed..."
12,Bhanuka Rajapaksa,Sri Lanka,Left hand Bat,Right arm Medium,Top order Batter,"An attacking left-handed batsman, Bhanuka Raja..."
13,Dasun Shanaka(c),Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
14,Wanindu Hasaranga de Silva,Sri Lanka,Right hand Bat,Legbreak,Allrounder,"A bruising lower-middle order batsman, and an ..."
15,Chamika Karunaratne,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
16,Pramod Madushan,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,
17,Dushmantha Chameera,Sri Lanka,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
18,Maheesh Theekshana,Sri Lanka,Right hand Bat,Right arm Offbreak,Bowler,
19,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
20,Bernard Scholtz,Namibia,Right hand Bat,Slow Left arm Orthodox,Bowler,Bernard Scholtz's brother Nicolaas is currentl...
21,Ben Shikongo,Namibia,Right hand Bat,Right arm Medium fast,Bowler,
22,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,
23,David Warner,Australia,Left hand Bat,Legbreak,Opening Batter,David Warner's extraordinary batting feats in ...
24,Aaron Finch(c),Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun..."
25,Mitchell Marsh,Australia,Right hand Bat,Right arm Medium,Allrounder,Part of one of the most well-known family name...
26,Glenn Maxwell,Australia,Right hand Bat,Right arm Offbreak,Batting Allrounder,"One of the fastest scorers in world cricket, G..."
27,Marcus Stoinis,Australia,Right hand Bat,Right arm Medium,Batting Allrounder,"A powerful, versatile batter and medium-pace b..."
28,Josh Hazlewood,Australia,Left hand Bat,Right arm Fast medium,Bowler,A tall and accurate fast bowler who is unrelen...
29,Pat Cummins,Australia,Right hand Bat,Right arm Fast,Bowler,Earmarked as a potential star from a young age...

In [19]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('', ''))
df_players.head(45)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
10,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
11,Danushka Gunathilaka,Sri Lanka,Left hand Bat,Right arm Offbreak,Allrounder,"A poised, attacking left-handed opener groomed..."
12,Bhanuka Rajapaksa,Sri Lanka,Left hand Bat,Right arm Medium,Top order Batter,"An attacking left-handed batsman, Bhanuka Raja..."
13,Dasun Shanaka(c),Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
14,Wanindu Hasaranga de Silva,Sri Lanka,Right hand Bat,Legbreak,Allrounder,"A bruising lower-middle order batsman, and an ..."
15,Chamika Karunaratne,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
16,Pramod Madushan,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,
17,Dushmantha Chameera,Sri Lanka,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
18,Maheesh Theekshana,Sri Lanka,Right hand Bat,Right arm Offbreak,Bowler,
19,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
20,Bernard Scholtz,Namibia,Right hand Bat,Slow Left arm Orthodox,Bowler,Bernard Scholtz's brother Nicolaas is currentl...
21,Ben Shikongo,Namibia,Right hand Bat,Right arm Medium fast,Bowler,
22,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,
23,David Warner,Australia,Left hand Bat,Legbreak,Opening Batter,David Warner's extraordinary batting feats in ...
24,Aaron Finch(c),Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun..."
25,Mitchell Marsh,Australia,Right hand Bat,Right arm Medium,Allrounder,Part of one of the most well-known family name...
26,Glenn Maxwell,Australia,Right hand Bat,Right arm Offbreak,Batting Allrounder,"One of the fastest scorers in world cricket, G..."
27,Marcus Stoinis,Australia,Right hand Bat,Right arm Medium,Batting Allrounder,"A powerful, versatile batter and medium-pace b..."
28,Josh Hazlewood,Australia,Left hand Bat,Right arm Fast medium,Bowler,A tall and accurate fast bowler who is unrelen...
29,Pat Cummins,Australia,Right hand Bat,Right arm Fast,Bowler,Earmarked as a potential star from a young age...
30,Mitchell Starc,Australia,Left hand Bat,Left arm Fast,Bowler,"First there was Johnson, then there was Starc...."
31,Ashton Agar,Australia,Left hand Bat,Slow Left arm Orthodox,Bowler,Ashton Agar initially turned almost as many he...
32,Binura Fernando,Sri Lanka,Right hand Bat,Left arm Medium fast,Bowler,Known for his ability to generate awkward boun...
33,Lahiru Kumara,Sri Lanka,Left hand Bat,Right arm Fast,Bowler,"A robust, right-arm fast bowler from Kandy, La..."
34,Dasun Shanaka,Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
35,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
36,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
37,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,
38,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat..."
39,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...
40,Milton Shumba,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Top order Batter,
41,Ryan Burl,Zimbabwe,Left hand Bat,Legbreak,Middle order Batter,Ryan Burl liked playing squash when he was at ...
42,Luke Jongwe,Zimbabwe,Right hand Bat,Right arm Fast medium,Bowler,
43,Paul Stirling,Ireland,Right hand Bat,Right arm Offbreak,Batting Allrounder,Paul Stirling has long been recognised as a fo...
44,Andy Balbirnie(c),Ireland,Right hand Bat,Right arm Offbreak,Batter,Already one of Ireland's star batters at No. 3...

In [20]:
df_players.to_csv('t20_csv_files/t20_player_info.csv', index = False)

In [21]:
df_batting["batsmanName"] = df_batting["batsmanName"].str.strip().str.replace(r"\(.*\)", "", regex=True).str.replace(r"\s+", " ", regex=True).str.title()
df_bowling["bowlerName"]  = df_bowling["bowlerName"].str.strip().str.replace(r"\(.*\)", "", regex=True).str.replace(r"\s+", " ", regex=True).str.title()

In [22]:
def overstoballs(overs):
    overs = float(overs)
    whole = int(overs)
    frac=round((overs-whole)*10)
    ballsbowled=(whole*6)+frac
    return ballsbowled

df_bowling["ballsBowled"] = df_bowling["overs"].apply(overstoballs)
numeric_cols = ["overs", "maiden", "runs", "wickets", "economy", "0s", "4s", "6s", "wides", "noBalls", "ballsBowled"]
for col in numeric_cols:
    df_bowling[col] = pd.to_numeric(df_bowling[col], errors="coerce")

# Convert batting columns to numeric
batting_numeric_cols = ["battingPos", "runs", "balls", "4s", "6s", "SR"]
for col in batting_numeric_cols:
    df_batting[col] = pd.to_numeric(df_batting[col], errors="coerce")
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id,ballsBowled
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,T20I # 1823,24
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,T20I # 1823,24
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,T20I # 1823,24
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,T20I # 1823,24
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga De Silva,4.0,0,27,1,6.75,8,1,1,0,0,T20I # 1823,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4.0,0,30,0,7.50,15,3,1,1,0,T20I # 1879,24
496,Pakistan Vs England,Pakistan,Haris Rauf,4.0,0,23,2,5.75,13,3,0,1,0,T20I # 1879,24
497,Pakistan Vs England,Pakistan,Shadab Khan,4.0,0,20,1,5.00,10,1,0,0,0,T20I # 1879,24
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4.0,0,38,1,9.50,5,5,0,2,0,T20I # 1879,24
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879,5

In [23]:

df_bowling_agg = (df_bowling.groupby("bowlerName").agg(InningsBowled=("match_id", "nunique"),
                                                      OversBowled = ("overs", "sum"),
                                                      ballsBowled = ("ballsBowled", "sum"),
                                                      RunsConceded = ("runs", "sum"),
                                                      Wickets = ("wickets", "sum"),
                                                      DotBalls = ("0s", "sum"))
                                                .reset_index()
                 )

df_bowling_agg

,bowlerName,InningsBowled,OversBowled,ballsBowled,RunsConceded,Wickets,DotBalls
0,Aayan Afzal Khan,3,8.0,48,38,2,20
1,Adam Zampa,3,12.0,72,80,5,24
2,Adil Rashid,6,24.0,144,147,4,45
3,Afif Hossain,1,1.0,6,11,1,1
4,Ahmed Raza,1,1.0,6,9,0,1
...,...,...,...,...,...,...,...
127,Wayne Parnell,5,16.0,96,102,5,48
128,Wellington Masakadza,1,2.0,12,12,0,5
129,Wessly Madhevere,2,3.0,18,25,0,1
130,Zahoor Khan,3,12.0,72,57,5,39
131,Zawar Farid,1,2.5,17,24,0,2

In [24]:
df_batting_agg = (df_batting.groupby("batsmanName").agg(InningsBatted=("match_id", "nunique"),
                                                      Runs = ("runs", "sum"),
                                                      BallsFaced = ("balls", "sum"),
                                                      Fours = ("4s", "sum"),
                                                      Sixes = ("6s", "sum"),
                                                      Dismissals = ("out/not_out", lambda x: (x == "out").sum()),
                                                      BattingPosAvg = ("battingPos", "mean"))
                                                    .reset_index()
                 )
df_batting_agg

,batsmanName,InningsBatted,Runs,BallsFaced,Fours,Sixes,Dismissals,BattingPosAvg
0,Aaron Finch,3,107,97,6,5,2,2.000000
1,Aayan Afzal Khan,2,24,28,1,0,2,7.500000
2,Adam Zampa,2,1,3,0,0,1,10.000000
3,Afif Hossain,5,95,76,6,3,4,4.800000
4,Aiden Markram,4,99,79,13,1,4,4.250000
...,...,...,...,...,...,...,...,...
193,Wessly Madhevere,8,106,83,15,2,7,2.000000
194,Yasir Ali,3,5,9,0,0,2,6.333333
195,Zahoor Khan,1,1,1,0,0,0,11.000000
196,Zane Green,1,2,3,0,0,1,8.000000
197,Zawar Farid,1,2,4,0,0,1,5.000000

In [25]:
df_batting_agg["batsmanName"] = df_batting_agg["batsmanName"].str.replace('(c)', '', regex = False)
df_bowling_agg["bowlerName"] = df_bowling_agg["bowlerName"].str.replace('(c)', '', regex = False)

In [26]:

df_players["name"] = (
    df_players["name"]
    .str.strip()
    .str.replace(r"\(.*\)", "", regex=True)   
    .str.replace(r"\s+", " ", regex=True)     
    .str.title()                              
)
df_players = df_players.drop_duplicates(subset=["name"], keep="first")

player_summary = pd.merge(
    df_players,         # full player list
    df_batting_agg,
    left_on="name",
    right_on="batsmanName",
    how="left"
)


player_summary = pd.merge(
    player_summary,
    df_bowling_agg,
    left_on="name",
    right_on="bowlerName",
    how="left"
)


numeric_cols = player_summary.select_dtypes(include="number").columns
player_summary[numeric_cols] = player_summary[numeric_cols].fillna(0)

player_summary

,name,team,battingStyle,bowlingStyle,playingRole,description,batsmanName,InningsBatted,Runs,BallsFaced,...,Sixes,Dismissals,BattingPosAvg,bowlerName,InningsBowled,OversBowled,ballsBowled,RunsConceded,Wickets,DotBalls
0,Michael Van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,,Michael Van Lingen,3.0,33.0,33.0,...,0.0,3.0,1.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,Divan La Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,,Divan La Cock,2.0,9.0,11.0,...,0.0,2.0,2.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,,Jan Nicol Loftie-Eaton,3.0,21.0,20.0,...,2.0,3.0,3.333333,Jan Nicol Loftie-Eaton,1.0,1.0,6.0,8.0,0.0,2.0
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,,Stephan Baard,3.0,49.0,52.0,...,0.0,3.0,3.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,,Gerhard Erasmus,3.0,52.0,60.0,...,0.0,3.0,5.000000,Gerhard Erasmus,2.0,4.0,24.0,21.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Wellington Masakadza,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Bowler,,Wellington Masakadza,1.0,1.0,7.0,...,0.0,1.0,8.000000,Wellington Masakadza,1.0,2.0,12.0,12.0,0.0,5.0
209,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...,Tabraiz Shamsi,1.0,1.0,1.0,...,0.0,0.0,11.000000,Tabraiz Shamsi,2.0,8.0,48.0,56.0,4.0,20.0
210,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...,Phil Salt,1.0,10.0,9.0,...,0.0,1.0,3.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0
211,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade...",NaN,0.0,0.0,0.0,...,0.0,0.0,0.000000,Chris Jordan,2.0,8.0,48.0,70.0,5.0,17.0
212,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...,Mehidy Hasan Miraz,1.0,11.0,13.0,...,0.0,1.0,6.000000,Mehidy Hasan Miraz,1.0,3.0,18.0,32.0,0.0,4.0

In [27]:

names_original = set(df_players["name"].str.strip())
names_final = set(player_summary["name"].str.strip())
missing_in_final = names_original - names_final

if missing_in_final:
    print(f"{len(missing_in_final)} names from original are missing in final.")
    print("Examples:", list(missing_in_final)[:15])
else:
    print("All names from the original dataset are present in the final dataset.")

All names from the original dataset are present in the final dataset.

In [28]:


player_summary.drop(columns=["batsmanName", "bowlerName"], inplace=True)
player_summary.head()

,name,team,battingStyle,bowlingStyle,playingRole,description,InningsBatted,Runs,BallsFaced,Fours,Sixes,Dismissals,BattingPosAvg,InningsBowled,OversBowled,ballsBowled,RunsConceded,Wickets,DotBalls
0,Michael Van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,,3.0,33.0,33.0,4.0,0.0,3.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,Divan La Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,,2.0,9.0,11.0,1.0,0.0,2.0,2.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,,3.0,21.0,20.0,1.0,2.0,3.0,3.333333,1.0,1.0,6.0,8.0,0.0,2.0
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,,3.0,49.0,52.0,3.0,0.0,3.0,3.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,,3.0,52.0,60.0,2.0,0.0,3.0,5.000000,2.0,4.0,24.0,21.0,0.0,9.0

In [29]:
player_summary["name"] = player_summary["name"].str.replace('', '', regex=False)
player_summary = player_summary.sort_values(by="name").reset_index(drop=True)

In [30]:
player_summary["BattingAverage"] = player_summary.apply(
    lambda x: x["Runs"] / x["Dismissals"] if x["Dismissals"] > 0 else 0,
    axis=1
)

player_summary["StrikeRate"] = player_summary.apply(
    lambda x: (x["Runs"] / x["BallsFaced"]) * 100 if x["BallsFaced"] > 0 else 0,
    axis=1
)

player_summary["BoundaryPercent"] = player_summary.apply(
    lambda x: ((x["Fours"]*4 + x["Sixes"]*6) / x["Runs"] * 100) if x["Runs"] > 0 else 0,
    axis=1
)

player_summary["AvgBallsFaced"] = player_summary.apply(
    lambda x: x["BallsFaced"] / x["InningsBatted"] if x["InningsBatted"] > 0 else 0,
    axis=1
)

# Bowling Average
player_summary["BowlingAverage"] = player_summary.apply(
    lambda x: x["RunsConceded"] / x["Wickets"] if x["Wickets"] > 0 else 0,
    axis=1
)

player_summary["Economy"] = player_summary.apply(
    lambda x: (x["RunsConceded"] / x["OversBowled"]) if x["OversBowled"] > 0 else 0,
    axis=1
)

player_summary["BowlingStrikeRate"] = player_summary.apply(
    lambda x: x["ballsBowled"] / x["Wickets"] if x["Wickets"] > 0 else 0,
    axis=1
)

player_summary["DotBallPercent"] = player_summary.apply(
    lambda x: (x["DotBalls"] / x["ballsBowled"] * 100) if x["ballsBowled"] > 0 else 0,
    axis=1
)
player_summary

,name,team,battingStyle,bowlingStyle,playingRole,description,InningsBatted,Runs,BallsFaced,Fours,...,Wickets,DotBalls,BattingAverage,StrikeRate,BoundaryPercent,AvgBallsFaced,BowlingAverage,Economy,BowlingStrikeRate,DotBallPercent
0,Aaron Finch,Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun...",3.0,107.0,97.0,6.0,...,0.0,0.0,53.500000,110.309278,50.467290,32.333333,0.00,0.000000,0.0,0.000000
1,Aayan Afzal Khan,U.A.E.,Right hand Bat,Slow Left arm Orthodox,Bowling Allrounder,,2.0,24.0,28.0,1.0,...,2.0,20.0,12.000000,85.714286,16.666667,14.000000,19.00,4.750000,24.0,41.666667
2,Adam Zampa,Australia,Right hand Bat,Legbreak Googly,Bowler,"An energetic and competitive legspinner, Adam ...",2.0,1.0,3.0,0.0,...,5.0,24.0,1.000000,33.333333,0.000000,1.500000,16.00,6.666667,14.4,33.333333
3,Adil Rashid,England,Right hand Bat,Legbreak,Bowler,Adil Rashid did much to set right English cric...,0.0,0.0,0.0,0.0,...,4.0,45.0,0.000000,0.000000,0.000000,0.000000,36.75,6.125000,36.0,31.250000
4,Afif Hossain,Bangladesh,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...,5.0,95.0,76.0,6.0,...,1.0,1.0,23.750000,125.000000,44.210526,15.200000,11.00,11.000000,6.0,16.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,,8.0,106.0,83.0,15.0,...,0.0,1.0,15.142857,127.710843,67.924528,10.375000,0.00,8.333333,0.0,5.555556
209,Yasir Ali,Bangladesh,Right hand Bat,Right arm Offbreak,Middle order Batter,,3.0,5.0,9.0,0.0,...,0.0,0.0,2.500000,55.555556,0.000000,3.000000,0.00,0.000000,0.0,0.000000
210,Zahoor Khan,U.A.E.,Right hand Bat,Right arm Medium fast,Bowler,,1.0,1.0,1.0,0.0,...,5.0,39.0,0.000000,100.000000,0.000000,1.000000,11.40,4.750000,14.4,54.166667
211,Zane Green,Namibia,Left hand Bat,,Wicketkeeper Batter,,1.0,2.0,3.0,0.0,...,0.0,0.0,2.000000,66.666667,0.000000,3.000000,0.00,0.000000,0.0,0.000000
212,Zawar Farid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,,1.0,2.0,4.0,0.0,...,0.0,2.0,2.000000,50.000000,0.000000,4.000000,0.00,9.600000,0.0,11.764706

In [31]:
player_summary.to_csv('t20_csv_files/player_summary.csv', index = False)

In [35]:
# === OPENERS (Prioritize: Runs > SR > Average) ===
openers = (
    player_summary[
        (player_summary["BattingAverage"] > 30) &
        (player_summary["StrikeRate"] > 140) &
        (player_summary["InningsBatted"] > 3) &
        (player_summary["BoundaryPercent"] > 50) &
        (player_summary["BattingPosAvg"] < 4)
    ]
    .sort_values(by=["BattingAverage", "StrikeRate", "Runs"], ascending=[False, False, False])
    .head(2)
)

# === MIDDLE ORDER (Prioritize: Runs > BattingAverage > SR) ===
middle_order = (
    player_summary[
        (player_summary["BattingAverage"] > 40) &
        (player_summary["StrikeRate"] > 125) &
        (player_summary["InningsBatted"] > 3) &
        (player_summary["AvgBallsFaced"] > 20) &
        (player_summary["BattingPosAvg"] > 2)
    ]
    .sort_values(by=["StrikeRate", "BattingAverage", "Runs"], ascending=[False, False, False])
    .head(3)
)

# === FINISHER (Prioritize: SR > Runs) ===
finisher = (
    player_summary[
        (player_summary["BattingAverage"] > 25) &
        (player_summary["StrikeRate"] > 130) &
        (player_summary["InningsBatted"] > 3) &
        (player_summary["AvgBallsFaced"] > 12) &
        (player_summary["BattingPosAvg"] > 1) &
        (player_summary["InningsBowled"] > 1)
    ]
    .sort_values(by=["StrikeRate", "Runs"], ascending=[False, False])
    .head(1)
)

# === ALL-ROUNDERS (Prioritize: Wickets > BattingAverage > SR) ===
all_rounders = (
    player_summary[
        (player_summary["BattingAverage"] > 15) &
        (player_summary["StrikeRate"] > 140) &
        (player_summary["InningsBatted"] > 2) &
        (player_summary["BattingPosAvg"] > 4) &
        (player_summary["InningsBowled"] > 2) &
        (player_summary["Economy"] < 7) &
        (player_summary["BowlingStrikeRate"] < 20)
    ]
    .sort_values(by=["Wickets", "BattingAverage", "StrikeRate"], ascending=[False, False, False])
    .head(2)
)

# === FAST BOWLERS (Prioritize: Wickets > Economy > BowlingAverage) ===
fast_bowlers = (
    player_summary[
        (player_summary["InningsBowled"] > 4) &
        (player_summary["Economy"] < 7) &
        (player_summary["BowlingStrikeRate"] < 16) &
        (player_summary["BowlingAverage"] < 20) &
        (player_summary["DotBallPercent"] > 40) &
        (player_summary["bowlingStyle"].str.contains("Fast|Medium", case=False, na=False))
    ]
    .sort_values(by=["Wickets", "Economy", "BowlingAverage"], ascending=[False, True, True])
    .head(3)
)

# === COMBINE FINAL XI ===
final_xi = pd.concat([openers, middle_order, finisher, all_rounders, fast_bowlers])
final_xi = final_xi.reset_index(drop = True)

# Show the final XI
final_xi[
    ["name", "playingRole", "team", "Runs", "BattingAverage", "StrikeRate",
     "Wickets", "Economy", "BowlingAverage", "BowlingStrikeRate", "DotBallPercent"]
]

,name,playingRole,team,Runs,BattingAverage,StrikeRate,Wickets,Economy,BowlingAverage,BowlingStrikeRate,DotBallPercent
0,Jos Buttler,Wicketkeeper Batter,England,225.0,45.000000,144.230769,0.0,0.000000,0.000000,0.000000,0.000000
1,Alex Hales,Opening Batter,England,212.0,42.400000,147.222222,0.0,0.000000,0.000000,0.000000,0.000000
2,Suryakumar Yadav,Batter,India,239.0,59.750000,189.682540,0.0,0.000000,0.000000,0.000000,0.000000
3,Glenn Phillips,Wicketkeeper Batter,New Zealand,201.0,40.200000,158.267717,0.0,0.000000,0.000000,0.000000,0.000000
4,Virat Kohli,Top order Batter,India,296.0,98.666667,136.405530,0.0,0.000000,0.000000,0.000000,0.000000
5,Curtis Campher,Allrounder,Ireland,126.0,25.200000,163.636364,2.0,9.250000,37.000000,24.000000,35.416667
6,Shadab Khan,Allrounder,Pakistan,98.0,24.500000,168.965517,11.0,6.346154,15.000000,14.181818,37.820513
7,Sikandar Raza,Batting Allrounder,Zimbabwe,219.0,27.375000,147.972973,10.0,6.500000,15.600000,14.400000,31.944444
8,Sam Curran,Allrounder,England,12.0,12.000000,85.714286,13.0,6.607143,11.384615,10.461538,48.529412
9,Anrich Nortje,Bowler,South Africa,5.0,5.000000,83.333333,11.0,5.433526,8.545455,9.545455,55.238095
10,Shaheen Shah Afridi,Bowler,Pakistan,22.0,11.000000,183.333333,11.0,6.175299,14.090909,13.727273,46.357616

In [36]:
final_xi.to_csv('t20_csv_files/final_11.csv', index = False)